.post{
    margin-bottom: 16px;
    .postTop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 12px 4px;
    }
    
    .postAuthor{
        display: flex;
        align-items: center;
    }
    
    .authorImg{
        width: 34px !important;
        height: 34px !important;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid #e7e7e7;
    }
    
    .authorName{
        margin: 0;
        margin-left: 10px;
        font-weight: 600;
        font-size: 14px;
    }
    
    .time{
        margin-left: 20px;
        position: relative;
        font-size: 14px;
        color: var(--icon);
    }
    .time::before{
        content: "";
        display: block;
        position: absolute;
        border-width: 2px 2px;
        border-color: var(--icon);
        border-style: solid;
        border-radius: 50%;
        top: 44%;
        left: -10px;
    }
    .icon{
        font-size: 20px;
    }
    .swiper{
        border-radius: 10px !important;
    }
    .image{
        width: 100% !important;
        min-height: 485px !important;
        border-radius: 6px;
        border: 1px solid #e7e7e7;
        object-fit: cover;
    }
    .postReact{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6px;
        .reactIcon{
            font-size: 28px;
        }
        
    }
    .reactIconWrap {
        display: flex;
        align-items: center;
    }
    .reactIconWrap > svg:nth-child(2){
        font-size: 26px;
    }
    .reactIconWrap > svg:not(:first-child){
        margin-left: 16px;
    }
    .count{
        margin: 10px 0 6px 0;
        font-weight: 600;
    }
    .statusWrap{
        display: flex;
        align-items: center;
        .authorName{
            margin: 0 6px 0 0;
        }
    }
    .comment{
        margin: 4px 0;
        color: var(--icon);
    }
    .input{
        padding: 0 0 10px 0;
        border: none !important;
        border-bottom: 1px solid #e7e7e7 !important;
    }
    .input > input {
        font-size: 14px !important;
    }
    .inputIcon{
        font-size: 14px;
        color: var(--icon);
    }
}

.swiper{
    font-size: 20px;
    padding: 8px 0;
}

.swiper > div:nth-child(2) {
    width: 24px;
    height: 24px;
    padding: 0 10px 0 8px !important;
}

.swiper > div:nth-child(2)::after {
    font-size: 12px !important;
}

.swiper > div:nth-child(3) {
    width: 24px;
    height: 24px;
    padding: 0 8px 0 10px !important;
}

.swiper > div:nth-child(3)::after {
    font-size: 12px !important;
}