.wrapper{
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 6px;
    &:hover{
        background-color: #e7e7e7;
        transition:  background-color ease 0.3s;
    }
    box-sizing: border-box;
}

.avatar{
    width: 36px !important;
    height: 36px !important;
    border-radius: 50%;
    object-fit: cover;
}

.name{
    box-sizing: border-box;
    padding: 8px 10px;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}
