.wrapper{
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 12px;
    cursor: pointer;
    .name{
        padding: 0 0 0 16px;
        font-weight: 500;
        margin: 0;
        font-size: 15px;
    }
    .img{
        width: 24px !important;
        height: 24px !important;
        object-fit: cover;
        border-radius: 50%;
    }
    border-radius: 6px;
    &:hover{
        background-color: #f2f2f2;
        transition:  background-color ease 0.3s;
    }
}

.instaCard > svg {
    font-size: 30px;
}